
<template name="profileDetails">
    <!-- main col left -->
    <div class="col-sm-5">

         <div class="panel panel-default">
           <div class="panel-thumbnail"><img src="{{profilePicture}}" class="img-responsive"></div>
           <div class="panel-body">
             <p class="lead">{{fullname}}</p>
             <p>{{friendCount}} Friends</p>
             <p><button class="btn btn-primary add-friend">Add Friend</button></p>
             <p>
                {{#each newFriends}}
                    <a href="/profile/{{this.profile.username}}"><img src="{{this.profile.picture.thumbnail}}" height="28px" width="28px"></a>
                {{/each}}
             </p>
           </div>
         </div>


         <div class="panel panel-default">
           <div class="panel-heading"><h4>About</h4></div>
             <div class="panel-body">
                {{about}}
             </div>
         </div>



         <div class="panel panel-default">
           <div class="panel-heading"><h4>Some Header</h4></div>
           <div class="panel-body">
               Fill this with whatever you want
            </div>
         </div>



     </div>
</template>
