<template name="story">
    <div class="panel panel-default">
        <div class="panel-heading row">
            {{#if status}}
            <div class ="col-md-11 col-lg-11">
              <h4>
                <a href="/profile/{{creatorUsername}}"><img src="{{userImage}}" width="28px;" height="28px;"> {{creatorName}} </a>
              </h4>
            </div>
            {{#if ownerStory}}
            <div class ="col-md-1 col-lg-1">
              <a type="button" class="delete-story fi glyphicon glyphicon-remove"></a>
            </div>
            {{/if}}
            {{else}}
            <div class ="col-md-11 col-lg-11">
              <h4>
                  <a href="/profile/{{creatorUsername}}">
                      <img src="{{creatorThumbnail}}" alt="" width="28px;" height="28px;">
                      {{creatorName}}
                  </a>
                  <span class="glyphicon glyphicon-arrow-right"></span>
                  <a href="/profile/{{createdForUsername}}">
                      <img src="{{createdForThumbnail}}" alt="" width="28px;" height="28px;">
                      {{createdForName}}
                  </a>
              </h4>
            </div>
            {{#if ownerStory}}
            <div class ="col-md-1 col-lg-1">
              <a type="button" class="delete-story fi glyphicon glyphicon-remove"></a>
            </div>
            {{/if}}

            {{/if}}
        </div>
        <div class="panel-body">
            <h4>
                {{storyText}}</h4>
                <p style ="text-align: right;">{{datestory createdAt}}</p>
              <hr>
            <div class="clearfix"></div>

                <label>{{likeCount _id}}</label>
                <div class="input-group">
                  {{#if styleLike}}
                    <div class="input-group-btn">
                        <imput class="btn btn-default like fi glyphicon glyphicon-thumbs-up" style="margin-top: -1px;color: #333;background-color: #cad0e4;border-color: #adadad;"></imput>
                    </div>
                  {{else}}
                    <div class="input-group-btn">
                        <button class="btn btn-default like fi glyphicon glyphicon-thumbs-up" style="margin-top: -1px"></button>
                    </div>
                  {{/if}}
                    <form  class ="comment-story">
                      <input class="form-control" name ="text" placeholder="Add a comment.." type="text">
                    </form>

                </div>



                {{#each comments}}
                    {{>commentTemaplte}}
                {{/each}}


        </div>
    </div>
</template>

<template name ="commentTemaplte">
  <div class ="row">
    <hr>
    <div class ="col-md-3 col-lg-3">
        <img src="{{userImageComment}}" width="28px;" height="28px;"> {{creatorNameComment}}
    </div>
    <div class ="col-md-6 col-lg-6">
      <h4>{{commentText}}</h4>
    </div>
    <div class ="col-md-3 col-lg-3">
      <div class ="col-md-12 col-lg-12">
        {{#if ownerComment}}
            <a type="button" style ="float: right;margin-bottom: 0.4em;" class="delete-comment fi glyphicon glyphicon-remove"></a>
        {{/if}}
      </div>
      <div class ="col-md-12 col-lg-12" style ="padding:0;">
        <p style ="font-size: 0.8em;">{{dateRefactor commentDate}}</p>
      </div>
    </div>
  </div>

</template>
